directions {
  display: flex;
  flex-direction: column;
  width: inherit;
}

directions content {
  position: absolute;
  top: 192px;
  display: flex;
  z-index: 1;
  width: inherit;
  bottom: 0;
}
directions content.pulldown {
  height: 200px;
  bottom: 0;
  top: initial;
  display: block;
}
